
body {
 background-color: #fdf8e8;
}

p {
	text-align: center;
	font-family: Cochin, sans-serif;
	font-size: 18px;
	color: #734d26
}

h1 {
text-align: center;
font-family: Cochin, sans-serif;
color: #734d26
}

h2 {
text-align: center;
font-family: Cochin, sans-serif;
color: #734d26
}